<div class="flex-container">
  <%= image_tag "icon"%>
</div>
<div class="flex-container">
  <%= image_tag "header"%>
</div>
<div class="flex-container">
  <p class="title">Hola Propietario Apellido,</p>
</div>
<div class="flex-container">
  <div class="description">
    <p>
      ¿Recuerdas el registro que iniciaste para poner en renta tu propiedad con nosotros?
    </p>
    <p>
      <a href="#">Continúa el proceso</a> y disfruta de todo lo que te ofrecemos. En Homie queremos que rentes tu inmueble en el menor tiempo posible, por ello también publicamos tu anuncio en:
    </p>
    <div class="grid-two-column">
      <div class="column-grid-1">
        <%= image_tag "lamudi"%>
      </div>
      <div class="column-grid-2">
        <%= image_tag "metroscubicos"%>
      </div>
      <div class="column-grid-1">
        <%= image_tag "inmuebles24"%>
      </div>
      <div class="column-grid-2">
        <%= image_tag "craigslist"%>
      </div>
    </div>
    <div class="grid-three-column">
      <div class="column-grid-1">
        <%= image_tag "goplaceit"%>
      </div>
      <div>
        <%= image_tag "propiedades"%>
      </div>
      <div>
        <%= image_tag "mercadolibre"%>
      </div>
    </div>
    <p>
      así como en anuncios destacados dentro de Facebook y Google,
    </p>
    <p>
      todo esto sin costo y sin pedirte exclusividad. ¡No dejes pasar la oportunidad!
    </p>
  </div>
</div>
<div class="flex-container">
  <button class="btn">Continua tu registro ahora</button>
</div>